@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: rgba(82, 82, 82, 0);
    color: rgb(82, 82, 82);
    border-style: none;
    font-family: 'ELAND_Choice_B';
}

button:hover {
    cursor: pointer;
    color: rgb(51, 116, 255);
    transition: .3s;
}